br
br
br
br
br
div.center
	div.container
		h1.title#header #{slogan}
		img(src="logo.png" alt="simplyHomework logo")#logo
		div#form
			div#signupButton.btn-sH
				span Beschikbaar vanaf januari
				input(type="email" placeholder="Voer je email in" autocomplete="off")#email
		a#info.point
			h3 Meer info
				br
				span.fa.fa-angle-down